<h1>Movies#index</h1>

<% @base_contents.each do |m| %>

<div>

<%= link_to movies_show_path(m["id"]) do %>
<%= image_tag("https://image.tmdb.org/t/p/original/#{m['poster_path']}",:size =>"320x480") %>
</div>


<% end %>

<% end %>


