<main style="background-image:url(<%= asset_path "movie.jpg" %>)" />
<div class="container">

	<h1></h1>
	<div class="row">
		<% @base_contents.each do |m| %>
			<%= link_to movies_show_path(m["id"]) do %>
			<%= image_tag("https://image.tmdb.org/t/p/original/#{m['poster_path']}",:size =>"200x200") %>
			<% end %>
		<% end %>
	</div>
</div>

</div>

<style>
	main{
background-size: contain;
}


</style>

