<h1>Movie-Reviewへようこそ</h1>
<p>このアプリは、映画の情報を探している人！<br>
	映画のレビューを投稿したい人！が利用するアプリです。
</p>

<p><strong>ログインはこちらから</strong></p>
<p><%= link_to "Log in"  ,new_user_session_path, class: "btn btn-info btn-lg btn-block", style: "width: 200px;" %></p>

<p><strong>会員登録がお済みでない方は、こちらから</strong></p>
<P><%= link_to "Sign Up"  ,new_user_registration_path, class: "btn btn-success btn-block " ,style: "width: 200px;"%></P>
